- if flash.keys[0] == 'success'
  %p.flash-success
    = flash[:success]

= link_to 'ログアウト', destroy_user_session_path, method: :delete
= link_to 'care_receiver 新規作成', new_care_receiver_path, method: :get
= link_to '薬一覧', medicines_path, method: :get

- @care_receiver.each do |care_receiver|
  = link_to "#{care_receiver.last_name} #{care_receiver.first_name}", care_receiver_path(care_receiver.id)
