.medicine-index
  .medicine-index__side_content
    .medicin-index__side_content--link

      - if @care_receiver_id.blank?
        = link_to 'ホーム', root_path, class: 'medicine-index__side_content--link--home-link'

      - else
        = link_to '戻る', care_receiver_dosing_times_path(@care_receiver_id), class: 'medicine-index__side_content--link--back-link'

    .new-medicine
      .new-medicine-title
        新規登録

      .new-medicine-form
        = form_with model: @new_medicine do |f|

          .new-medicine-form__name
            = f.label :name, '名前', class: 'new-medicine-form__name--label'
            = f.text_field :name, class: 'new-medicine-form__name--input-text'

          .new-medicine-form__image
            = f.label :image, '画像', class: 'new-medicine-form__image--label'
            = f.file_field :image, class: 'new-medicine-form__image--input-file'

          .new-medicine-form__url
            = f.label :url, '参考サイト', class: 'new-medicine-form__url--label'
            = f.text_field :url, class: 'new-medicine-form__url--input-text'

          = f.hidden_field :care_receiver_id, value: @care_receiver_id

          .new-medicine-form__submit
            = f.submit '新規登録', class: 'new-medicine-form__submit--button'

  .medicine-index__main_content
    .medicine-index__main_content--title
      薬　一覧

    - if @medicines.present?
      %ul.medicines_list
        - @medicines.each do |medicine|
          %li.medicines_list__item
            %p.medicines_list__item--name<>
              = medicine.name

            - if medicine.image.present?
              = image_tag "#{medicine.image}", class: 'medicines_list__item--image'
            - else
              %p.medicines_list__item--no_image<>
                ×

            - if medicine.url.present?
              = link_to "参考サイト", "#{medicine.url}", class: 'medicines_list__item--url', target: '_blank', rel: 'noreferrer noopener'
            - else
              %p.medicines_list__item--no_url<>

            -# 編集ボタン追加予定
