.dosing_time
  .dosing_time__side
    .side-dosing_time__back
      = link_to '戻る', :back, class: 'side-dosing_time__back--button'

    .side-dosing_time__medicine-new
      = link_to '薬 新規登録', medicines_path, class: 'side-dosing_time__medicine-new--button'

    .side-dosing_time__home
      = link_to 'ホーム画面', root_path, class: 'side-dosing_time__home--button'

  .dosing_time__main
    .main-dosing_time__title
      服薬 編集

    %ul.main-dosing_time__list
      - if @dosing_times.blank?
        %li.main-dosing_time__list
          服薬はありません

      - else
        - @dosing_times.each do |dosing_time|
          %li.main-dosing_time__list--item{ id: "dosing_time-#{dosing_time.id}" }
            .timeframe-dosing_time
              .timeframe-dosing_time__name
                = dosing_time.timeframe.name

              .timeframe-dosing_time__time
                = dosing_time.time.strftime('%-H:%-M')

              .timeframe-dosing_time__delete
                = link_to '削除', dosing_time_path(id: dosing_time.id, care_receiver_id: @care_receiver_id),
                                  method: :delete,
                                  id: "delete-dosing_time-#{dosing_time.id}",
                                  class: 'timeframe-dosing_time__delete--btn',
                                  data: { confirm: "服薬時間帯【 #{dosing_time.timeframe.name} 】を本当に削除しますか？" }

            .medicines-dosing_time

              - dosing_time_medicines = dosing_time.medicine_dosing_times.select{ |m| m.discarded_at.nil? }.map(&:medicine)

              %ul.medicines-dosint_time__list
                - dosing_time_medicines.each do |medicine|
                  %li.medicine-dosing_time{ id: "medicine-#{medicine.id}-#{dosing_time.id}" }
                    .medicine-dosing_time__name{ id: "medicine-#{medicine.id}-#{dosing_time.id}__name" }
                      = medicine.name

                    - if medicine.image.present?
                      .medicine-dosing_time__image
                        = image_tag "#{medicine.image}"

                    - else
                      .medicine-dosing_time__no-image
                        ×

                    .medicine-dosing_time__delete

                      - medicine_dosing_time_id = medicine.medicine_dosing_times.detect{ |m| m.dosing_time_id == dosing_time.id }.id

                      = link_to '削除', medicine_dosing_time_path(id: medicine_dosing_time_id, care_receiver_id: @care_receiver_id),
                                        method: :delete,
                                        id: "delete-medicine_dosing_time-#{medicine_dosing_time_id}",
                                        class: 'medicine-dosing_time__delete--btn',
                                        data: { confirm: "【 #{dosing_time.timeframe.name} 】の薬【 #{medicine.name} 】を本当に削除しますか？" }

              .new-medicine_dosing_time
                = form_with model: @medicine_dosing_time do |f|
                  .new-medicine_dosing_time__medicine
                    = f.label :medicine_id, '薬', class: 'new-medicine_dosing_time__medicine--label'
                    = f.collection_select :medicine_id,
                                          @medicines.reject{ |m| dosing_time_medicines.map(&:id).include?(m.id) },
                                          :id, :name,
                                          { prompt: '--' },
                                          { class: 'new-medicine_dosing_time__medicine--select',
                                            id: "new-medicine-#{dosing_time.id}" }

                  = f.hidden_field :dosing_time_id, value: dosing_time.id
                  = f.hidden_field :care_receiver_id, value: @care_receiver_id

                  .new-medicine_dosing_time__submit
                    = f.submit '追加', class: 'new-medicine_dosing_time__submit--btn', id: "new-medicine-#{dosing_time.id}-submit"

    .mein-dosing_time__new
      = form_with model: @dosing_time do |f|

        .new-timeframe-dosing_time__timeframe
          = f.label :timeframe_id, '時間帯', class: 'new-timeframe-dosing_time__timeframe--label'
          = f.select :timeframe_id,
                                @timeframes.map{ |timeframe| [timeframe.name, timeframe.id, { 'data-time': timeframe.time }] },
                                { prompt: '--' },
                                { id: 'new-dosing_time-timeframe-select',
                                  class: 'new-timeframe-dosing_time__timeframe--select' }

        .new-timeframe-dosing_time__time
          = f.label :time, '時間', class: 'new-timeframe-dosing_time__time--label'
          = f.time_select :time, { prompt: '--' }, { class: 'new-timeframe-dosing_time__time--select' }

          = f.hidden_field :care_receiver_id, value: @care_receiver_id

        .new-timeframe-dosing_time__submit
          = f.submit '追加', class: 'new-timeframe-dosing_time__submit--btn'
