.dosing_time
  .side-dosing_time
    .side-dosing_time__back
      = link_to '戻る', care_receiver_path(@care_receiver), class: 'side-dosing_time__back--btn'

    .side-dosing_time__home
      = link_to 'ホーム', root_path, class: 'side-dosing_time__home--btn'

    .side-dosing_time__medicine-new
      = link_to '薬 新規登録', medicines_path, class: 'side-dosing_time__medicine-new--btn'

  .main-dosing_time
    .main-dosing_time__title
      = "#{@care_receiver.last_name}#{@care_receiver.first_name}様  服薬 編集"

    - if @dosing_times.blank?
      .main-dosing_time__not-exist
        服薬はありません

    - else
      %ul.main-dosing_time__list

        - @dosing_times.each do |dosing_time|

          %li.main-dosing_time__list--item{ id: "dosing_time-#{dosing_time.id}" }
            .timeframe-dosing_time
              .timeframe-dosing_time__name
                = dosing_time.timeframe.name

              .timeframe-dosing_time__time
                = dosing_time.time.strftime('%_H:%0M')

              .timeframe-dosing_time__delete
                = link_to '削除', care_receiver_dosing_time_path(@care_receiver, dosing_time),
                                  method: :delete,
                                  remote: true,
                                  id: "delete-dosing_time-#{dosing_time.id}",
                                  class: 'timeframe-dosing_time__delete--btn',
                                  data: { confirm: "服薬時間帯【 #{dosing_time.timeframe.name} 】を本当に削除しますか？" }

            .medicines-dosing_time
              %ul.medicines-dosing_time__list

                - dosing_time.active_medicines.each do |medicine|

                  %li{ id: "medicine-#{medicine.id}-#{dosing_time.id}", class: 'medicine-dosing_time-item' }
                    %div{ id: "medicine-#{medicine.id}-#{dosing_time.id}__name", class: 'medicine-dosing_time-item__name' }
                      = medicine.name

                    - if medicine.image.present?
                      %div{ id: "medicine-#{medicine.id}-#{dosing_time.id}__image", class: 'medicine-dosing_time-item__image' }
                        = image_tag "#{medicine.image}", class: 'medicine-dosing_time-item__image--img'

                    - else
                      .medicine-dosing_time-item__no-image
                        ×

                    .medicine-dosing_time-item__delete
                      = link_to '削除', medicine_dosing_times_path(medicine_id: medicine.id, dosing_time_id: dosing_time.id, care_receiver_id: @care_receiver.id),
                                        method: :delete,
                                        remote: true,
                                        id: "delete-medicine_dosing_time-#{medicine.id}-#{dosing_time.id}",
                                        class: 'medicine-dosing_time-item__delete--btn',
                                        data: { confirm: "【 #{dosing_time.timeframe.name} 】の薬【 #{medicine.name} 】を本当に削除しますか？" }

              .new-medicine_dosing_time
                = form_with model: @medicine_dosing_time, class: 'new-medicine_dosing_time-form' do |f|
                  .new-medicine_dosing_time-form__medicine
                    = f.collection_select :medicine_id,
                                          @medicines - dosing_time.active_medicines,
                                          :id,
                                          :name,
                                          { prompt: '--' },
                                          {id: "new-medicine-#{dosing_time.id}",
                                           class: 'new-medicine_dosing_time-form__medicine--select' }

                  = f.hidden_field :dosing_time_id, value: dosing_time.id
                  = f.hidden_field :care_receiver_id, value: @care_receiver.id

                  .new-medicine_dosing_time-form__submit
                    = f.submit '追加', class: 'new-medicine_dosing_time-form__submit--btn', id: "new-medicine-#{dosing_time.id}-submit"

                %div{ id: "new-medicine_dosing_time-#{dosing_time.id}-error-message", class: 'new-medicine_dosing_time__error-area' }
                  -# jsで、エラーメッセージを表示

    .mein-dosing_time__new
      = form_with model: [@care_receiver, @dosing_time], id: 'new-dosing_time-form', class: 'new-timeframe-dosing_time' do |f|

        .new-timeframe-dosing_time__timeframe
          = f.select :timeframe_id,
                     @timeframes.map{ |timeframe| [timeframe.name, timeframe.id, { 'data-time': timeframe.time }] },
                     { prompt: '--' },
                     { id: 'new-dosing_time-timeframe-select',
                       class: 'new-timeframe-dosing_time__timeframe--select' }

        .new-timeframe-dosing_time__time
          = f.time_select :time, { prompt: '--' }, { class: 'new-timeframe-dosing_time__time--select' }

        .new-timeframe-dosing_time__submit
          = f.submit '追加', class: 'new-timeframe-dosing_time__submit--btn'

      #new-dosing_time-error-message.new-timeframe-dosing_time-error-area
        -# jsで、エラーメッセージを表示
