.edit-care_receiver
  .side-edit-care_receiver
    .side-edit-care_receiver__cancel
      = link_to '中止', care_receiver_path(@care_receiver), class: 'side-edit-care_receiver__cancel--btn'

    .side-edit-care_receiver__delete
      = link_to '削除', care_receiver_path(@care_receiver), method: :delete, class: 'side-edit-care_receiver__delete--btn'

  .main-edit-care_receiver
    .main-edit-care_receiver__title
      = "#{@care_receiver.last_name} #{@care_receiver.first_name}様 編集"

    .main-edit-care_receiver__form
      = render partial: 'form', locals: { care_receiver: @care_receiver }
